<div class="container">
    <h2 class="mt-5">Log In</h2>
    <div class="card p-4 mt-5 w-50" style="justify-content: center;">
        <form action="/signin/form" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input  name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            {{#if errmsg}}
            <div class="alert alert-danger">
               <h6> {{errmsg}}</h6>
            </div>
            {{/if}}
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/signin/admin">admin?</a>
            </div>
        </form>
    </div>
</div>


